@import url("https://fonts.googleapis.com/css?family=Monda:400,700|Montserrat:300,400,700&display=swap");

body {
  margin: 0;
  /* padding: 0; */
  font-family: "Montserrat", sans-serif;
  background: #fefffe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: "Monda", sans-serif;
}
